
<div [formGroup]="yadhuForm" class="row mt-4 user-form">

  <div class="form-group col-4">
    <label for="name">Name:</label>
    
    <input type="text" id="name" class="form-control"
    formControlName="name" required>
    
    <!-- <script type="text/javascript"> 
      var Current = 0;
  
      document.getElementById("textHere").innerHTML = names[Current];
  
      function Prev(){
          if(Current == 0){
              Current = names.length - 1;}
          else{
              Current--;}
  
          document.getElementById("textHere").innerHTML = names[Current];
      }
  
      function Next(){
          if(Current == names.length - 1){
              Current = 0}
          else{
              Current++;}
  
          document.getElementById("textHere").innerHTML = names[Current];
      }
  
  </script>
    <div id="textHere"></div>

    <div>
        <button onclick="Next();">Next!</button>
        <button onclick="Prev();">Previous</button>
    </div> -->
    <div class="input-group p-7">
      
      <button class="form-control btn-outline-success waves-effect waves-light green" id="name" ng-click="names = names + 1" ng-init="names=0"formControlName="name" type="button"(click)="name">+</button>
      <button class="btn btn-outline-danger col" type="button"(click)="deleteTask(names)">X</button>
     
<div *ngIf="name?.invalid && (name?.dirty || name?.touched)"
  class="alert alert-danger">

<div *ngIf="name?.errors?.['required']">
  Name is required.
</div>
<div *ngIf="name?.errors?.['minlength']">
  Name must be at least 4 characters long.
  
</div>
</div>
</div>
<div class="form-group col-4">
  <label for="name">Number:</label>
  <input type="text" id="number" class="form-control"
  formControlName="number" required>

<div *ngIf="number?.invalid && (number?.dirty || number?.touched)"
class="alert alert-danger">

<div *ngIf="number?.errors?.['required']">
Number is required.
</div>
<div *ngIf="number?.errors?.['minlength']">
Number must be at least 10 characters long.
</div>
</div>
</div>
<div class="form-group col-4">
  <label for="name">Email:</label>
  
  <input type="text" id="email" class="form-control"
  formControlName="email" required>
  <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
  class="alert alert-danger">
  <div *ngIf="email?.errors?.['required']">
    email is required.
  </div>
  <div *ngIf="email?.errors?.['email']">
   Enter a valid email.
  </div>
  </div>
</div>
<div class="form-check col-4">
  <label class="form-check-label">
    <input type="checkbox" id="check" class="form-check-input" value="" (click)="showData = !showData">show
    <label for="check" class="button"></label>
  </label>
</div>
</div>
<div class="row mt-4" *ngIf="showData">
  {{yadhuForm.value | json}}
</div>
